.app {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.app h1 {
  margin: 20px 0;
}

.todo-list {
  min-width: 600px;
}


.todo {
  margin: 10px 0;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.todo button:nth-child(1) {
  margin: 0 15px;
}

.todoForm {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 10px;
}

.input {
  padding-left: 20px;
  background: none;
  border: 2px solid white;
  color: white;
  
}

.input::placeholder {
  color: white;
}

.btn {
  padding: 1em;
  border: 2px solid white;
  background : none;
  color: white;
  font-size: 16px;
  width: 50px;
  height: 50px;
}

.btn:hover {
  background: #495264;
}



